/* borde la caja es aplicado de manera universal a toda la pagina*/
* {
	box-sizing: border-box;
}
/* encabezado de la pagina*/
header {
	margin: 0rem 0rem 0rem;
	height: 50%;
}
.header {
	padding: 3%;
	text-align: center;
	background: rgb(233, 231, 231);
	width: 98%;
	height: auto;
	opacity: 0.7;
	margin: 1rem 1rem 1rem 1rem;
}
/* titulo de encabezado de la pagina*/
.logo {
	width: 98%;
	height: auto;
	margin: 1rem 1rem 1rem 1rem;
}
.header h1 {
	font-size: 150%;
	margin-top: 1%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
/* imagen del encabezado*/
.header img {
	float: center;
	width: 20%;
	height: 15%;
}
/*clase del contenido principal*/
main {
	padding: 1%;
	background: rgb(216, 212, 212);
	width: 98%;
	height: 100%;
	margin: 1rem 1rem 1rem 1rem;
	opacity: 0.9;
}
/* el estilo de letra de H1*/
.main H1 {
	text-align: center;
	font-size: 150%;
	font-family: 'Kumbh Sans', sans-serif;
}
/* el estilo de letra de p*/
.main p {
	text-align: center;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}
/* pie de pagina */
footer {
	position: relative;
	/* left: 0; */
	/* bottom: 0; */
	width: 98%;
	background-color: #4caf50;
	color: white;
	text-align: left;
	font-size: 50%;
	padding: 1%;
	opacity: 0.7;
	margin: 1rem 1rem 1rem 1rem;
	font-family: 'Open Sans', sans-serif;
}
/* pie de pagina enlace */
.footer a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	/* height: 1%; */
	line-height: 78%;
	margin: 1rem 1rem 3rem 1rem;
}
.footer p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	/* height: 1%; */
	line-height: 70%;
	margin: 1rem 1rem 1rem 1rem;
}
/*  clase de boton desplegable*/
.button {
	background-color: #4caf50;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 100%;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	font-family: 'Roboto', sans-serif;
	margin-left: 47%;
}
.button:hover {
	background-color: #1a441b;
	color: white;
	outline: none;
}
/*  clase de centrado de la vista*/
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*  clase del cuerpo de la pagina*/
body {
	font-family: Arial;
	padding: 5%;
	background: #118806;
	background-image: url('6749.jpg');
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* mostrar segunda pagina o vista*/
#mostrar {
	display: none;
}
/* mostrar boton reload*/
#mostrar1 {
	display: none;
}

#mostrar2 {
	display: none;
}
/* ocultar segunda pagina o vista*/
#ocultar {
	display: block;
}
/* el estilo del contenido de la tarjeta*/

.creditCardForm {
	width: auto;
	height: 56rem;
	background-color: rgb(245, 229, 10);
	font-size: 90%;
	overflow: visible;
	color: black;
	border-radius: 15px;
	margin: 1rem 30rem 1rem 30rem;
	justify-content: center;
}
/* el estilo del contenido del formulario*/
.card-container {
	padding: 3%;
	position: relative;
	justify-content: center;
	line-height: 1%;
	width: auto;
	height: auto;
}
/* el estilo del titulo del contenido de la tarjeta*/
.card-container h1 {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1rem 1rem 1rem 1rem;
	padding: 4%;
}
/* el estilo del contenido de cada parte del formulario*/
.form-control {
	margin: 0rem 0rem 0rem 0rem;
	padding: 3%;
	position: relative;
	width: auto;
	align-items: normal;
	line-height: 0%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
}

/* el estilo del contenido del label del formulario*/
.form-control label {
	display: block;
	margin: 1rem 1rem 1rem 0rem;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0px;
	word-spacing: 4px;
	color: #0e1709;
	/* font-weight: bold; */
	text-decoration: none solid rgb(68, 68, 68);
	font-style: oblique;
	font-variant: normal;
	text-transform: none;
	outline: none;
}
/* el estilo del contenido del input del formulario*/
.form-control input {
	border: none;
	border-radius: 10px;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 90%;
	padding: 2%;
	width: 100%;
	outline: none;
	line-height: 200%;
	margin: 1rem 0rem 1rem 0rem;
}

.form-control small {
	font-size: 70%;
	padding: 1%;
	width: 100%;
	margin: 0rem 0rem 1rem 0rem;
}
/* el estilo del select del formulario*/
.selectMes {
	display: block;
	font-size: 82%;
	font-family: inherit;
	line-height: 2rem;
	padding: 2%;
	border: 1px solid #f0f0f0;
	border-radius: 12px;
	appearance: none;
	background-color: #fff;
	width: 100%;
	outline-style: none;
	margin: 1rem 0rem 1rem 0rem;
	color: gray;
}
.selectYear {
	display: block;
	font-size: 82%;
	font-family: inherit;
	line-height: 2rem;
	padding: 2%;
	border: 1px solid #f0f0f0;
	border-radius: 12px;
	appearance: none;
	background-color: #fff;
	width: 100%;
	outline-style: none;
	margin: 1rem 0rem 1rem 0rem;
	color: gray;
}

.nombre {
	margin: 1rem 1rem 1rem 1rem;
}

.apellido {
	margin: 1rem 1rem 1rem 1rem;
}

.mes {
	margin: 1rem 1rem 1rem 1rem;
	width: 45%;
}

.year {
	margin: -7rem 1rem 1rem 20rem;
}

.cvv {
	margin: 1rem 1rem 1rem 1rem;
}

.cardNumber {
	margin: 1rem 1rem 1rem 1rem;
}
.imagenes {
	width: 18%;
	position: relative;
	margin: 1rem 1rem 1rem 1rem;
	left: 79%;
	bottom: 1rem;
}

.buttom1 {
	width: 70%;
	position: relative;
	margin: 1rem 0rem 1rem 0rem;
	left: 9%;
	bottom: 92%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
button:hover {
	background-color: #1a441b;
	color: white;
	outline: none;
}

/* el estilo del select option del formulario*/
select option {
	color: black;
}
/* el estilo del primer child select option del formulario*/
option:first-child {
	color: gray;
}

/* el estilo del boton de validar el formulario*/
.form-control button {
	background-color: #4caf50;
	border: none;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 179%;
	padding: 2%;
	width: 50%;
	cursor: pointer;
	font-family: 'Kumbh Sans', sans-serif;
	margin: 5%;
	align-items: center;
	height: 74%;
	position: relative;
	bottom: 9rem;
}

/* el estilo de la imagen tarjeta mastercard*/
.imgMastecard {
	background-position: -100px 0;
	width: 80px;
	height: auto;

	float: right;
	margin-right: 4%;
	margin-bottom: 2%;
}
/*  el estilo de la imagen tarjeta visa*/
.imgVisa {
	background-position: 0 0px;
	width: 80px;
	height: auto;
	float: right;
	margin-bottom: 2%;
}
/*  el estilo de los msj aside*/
aside {
	color: #7d807c;
	font-size: 70%;
	font-family: inherit;
}
/*  el estilo de boton de recarga*/
.reload {
	background-color: #858b85;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	margin-top: 10%;
}
.reload:hover {
	background-color: black;
	color: white;
	outline: none;
}

.cardMsj {
	margin: 9rem 1rem 1rem 28rem;
	background-color: #4caf50;
	padding: 2%;
	position: relative;
	justify-content: center;
	align-items: stretch;
	line-height: 1.4em;
	width: 41%;
	color: white;
	border: none;
	border-radius: 15px;
}

@media only screen and (min-width: 300px) and (max-width: 359px) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 1rem;
		width: 100%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		/* height: 100%; */
		/* display: flex; */
		flex-wrap: nowrap;
		flex-direction: column;
		width: auto;
		height: 52rem;
		background-color: rgb(245, 229, 10);
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: auto;
		width: 88%;
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 100%;
		outline: none;
		line-height: 2rem;
		margin: 1rem 0rem 1rem 0rem;
	}
	.form-control label {
		display: block;
		margin: 1rem 1rem 1rem 0rem;
		font-size: 80%;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 0px;
		word-spacing: 4px;
		color: #0e1709;
		/* font-weight: bold; */
		text-decoration: none solid rgb(68, 68, 68);
		font-style: oblique;
		font-variant: normal;
		text-transform: none;
		outline: none;
	}
	.card-container {
		padding: 2%;
		position: absolute;
		justify-content: center;
		line-height: 10%;
		width: auto;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: absolute;
		margin: 1rem 0rem 1rem 0rem;
	}
	.apellido {
		width: 100%;
		position: absolute;
		margin: 8rem 0rem 1rem 0rem;
	}
	.mes {
		width: 100%;
		position: absolute;
		margin: 15rem 0rem 1rem 0rem;
	}
	.selectMes {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}

	.selectYear {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}
	.year {
		margin: 22rem 0rem 1rem 0rem;
		width: 100%;
		position: absolute;
	}
	.cardNumber {
		width: 100%;
		position: absolute;
		margin: 29rem 0rem 1rem 0rem;
	}
	.cvv {
		width: 37%;
		position: absolute;
		margin: 36rem 1rem 1rem 0rem;
	}

	.cvv input {
		width: 100%;
		height: auto;
		position: absolute;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: absolute;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		top: 44rem;
		height: 2rem;
		/* bottom: -11rem; */
		width: 10rem;
		position: absolute;
		font-size: 100%;
	}
	.imagenes {
		flex-direction: column;
		width: 64%;
		position: absolute;
		margin: 1rem 1rem 1rem 1rem;
		left: 53%;
		top:  36rem;
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 1rem;
		width: 100%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		/* height: 100%; */
		/* display: flex; */
		flex-wrap: nowrap;
		flex-direction: column;
		width: auto;
		height: 52rem;
		background-color: rgb(245, 229, 10);
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: auto;
		width: auto;
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 100%;
		outline: none;
		line-height: 2rem;
		margin: 1rem 0rem 1rem 0rem;
	}
	.card-container {
		padding: 2%;
		position: absolute;
		justify-content: center;
		line-height: 10%;
		width: auto;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: absolute;
		margin: 1rem 0rem 1rem 0rem;
	}
	.apellido {
		width: 100%;
		position: absolute;
		margin: 8rem 0rem 1rem 0rem;
	}
	.mes {
		width: 100%;
		position: absolute;
		margin: 15rem 0rem 1rem 0rem;
	}
	.selectMes {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}

	.selectYear {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}
	.year {
		margin: 22rem 0rem 1rem 0rem;
		width: 100%;
		position: absolute;
	}
	.cardNumber {
		width: 100%;
		position: absolute;
		margin: 29rem 0rem 1rem 0rem;
	}
	.cvv {
		width: 37%;
		position: absolute;
		margin: 36rem 1rem 1rem 0rem;
	}

	.cvv input {
		width: 100%;
		height: auto;
		position: absolute;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: absolute;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		top: 44rem;
		height: 2rem;
		/* bottom: -11rem; */
		width: 12rem;
		position: absolute;
	}
	.imagenes {
		flex-direction: column;
		width: 64%;
		position: absolute;
		margin: 1rem 1rem 1rem 1rem;
		left: 53%;
		top: 35rem;
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 1rem;
		width: 100%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		/* height: 100%; */
		/* display: flex; */
		flex-wrap: nowrap;
		flex-direction: column;
		width: auto;
		height: 57rem;
		background-color: rgb(245, 229, 10);
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: auto;
		width: 91%;
	
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 100%;
		outline: none;
		line-height: 2rem;
		margin: 1rem 0rem 1rem 0rem;
	}
	.form-control label {
		display: block;
		margin: 1rem 1rem 1rem 0rem;
		font-size: 123%;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 0px;
		word-spacing: 4px;
		color: #0e1709;
		/* font-weight: bold; */
		text-decoration: none solid rgb(68, 68, 68);
		font-style: oblique;
		font-variant: normal;
		text-transform: none;
		outline: none;
	}
	.form-control small {
		font-size: 83%;
		padding: 1%;
		width: 100%;
		margin: 0rem 0rem 0rem 0rem;
	}
	.card-container {
		padding: 2%;
		position: absolute;
		justify-content: center;
		line-height: 10%;
		width: 70%;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: absolute;
		margin: 1rem 0rem 1rem 0rem;
	}
	.apellido {
		width: 100%;
		position: absolute;
		margin: 8rem 0rem 1rem 0rem;
	}
	.mes {
		width: 100%;
		position: absolute;
		margin: 15rem 0rem 1rem 0rem;
	}
	.selectMes {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}

	.selectYear {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}
	.year {
		margin: 22rem 0rem 1rem 0rem;
		width: 100%;
		position: absolute;
	}
	.cardNumber {
		width: 100%;
		position: absolute;
		margin: 29rem 0rem 1rem 0rem;
	}
	.cvv {
		width: 37%;
		position: absolute;
		margin: 36rem 1rem 1rem 0rem;
	}

	.cvv input {
		width: 100%;
		height: auto;
		position: absolute;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: absolute;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		top: 44rem;
		height: 3rem;
		/* bottom: -11rem; */
		width: 13rem;
		position: absolute;
	}
	.imagenes {
		flex-direction: column;
		width: 52%;
		position: absolute;
		margin: 1rem 1rem 1rem 1rem;
		left: 49%;
		top: 35rem;
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 1rem;
		width: 100%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		/* height: 100%; */
		/* display: flex; */
		flex-wrap: nowrap;
		flex-direction: column;
		width: auto;
		height: 62rem;
		background-color: rgb(245, 229, 10);
	
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: auto;
		width: 100%;
	
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 100%;
		outline: none;
		line-height: 2rem;
		margin: 1rem 0rem 1rem 0rem;
	}
	.form-control label {
		display: block;
		margin: 1rem 1rem 1rem 0rem;
		font-size: 123%;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 0px;
		word-spacing: 4px;
		color: #0e1709;
		/* font-weight: bold; */
		text-decoration: none solid rgb(68, 68, 68);
		font-style: oblique;
		font-variant: normal;
		text-transform: none;
		outline: none;
	}
	.form-control small {
		font-size: 83%;
		padding: 1%;
		width: 100%;
		margin: 0rem 0rem 0rem 0rem;
	}
	.card-container {
		padding: 2%;
		position: absolute;
		justify-content: center;
		line-height: 10%;
		width: 74%;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: absolute;
		margin: 1rem 0rem 1rem 0rem;
	}
	.apellido {
		width: 100%;
		position: absolute;
		margin: 8rem 0rem 1rem 0rem;
	}
	.mes {
		width: 100%;
		position: absolute;
		margin: 15rem 0rem 1rem 0rem;
	}
	.selectMes {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}

	.selectYear {
		display: block;
		font-size: 82%;
		font-family: inherit;
		line-height: 1.5rem;
		padding: 2%;
		border: 1px solid #f0f0f0;
		border-radius: 12px;
		appearance: none;
		background-color: #fff;
		width: 100%;
		outline-style: none;
		margin: 1rem 0rem 1rem 0rem;
		color: gray;
	}
	.year {
		margin: 22rem 0rem 1rem 0rem;
		width: 100%;
		position: absolute;
	}
	.cardNumber {
		width: 100%;
		position: absolute;
		margin: 29rem 0rem 1rem 0rem;
	}
	.cvv {
		width: 37%;
		position: absolute;
		margin: 36rem 1rem 1rem 0rem;
	}

	.cvv input {
		width: 100%;
		height: auto;
		position: absolute;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: absolute;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		top: 44rem;
		height: 3rem;
		/* bottom: -11rem; */
		width: 26rem;
		position: absolute;
		left: -1rem;
	
	}
	.imagenes {

		flex-direction: column;
		width: 24%;
		position: absolute;
		margin: 1rem 1rem 1rem 1rem;
		left: 82%;
		top: 38rem;
	
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 90%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		width: auto;
		height: 100%;
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: 55rem;
		width: auto;
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 92%;
		outline: none;
		line-height: 200%;
		margin: 1rem 0rem 1rem 0rem;
	}
	.card-container {
		padding: 2%;
		position: relative;
		justify-content: center;
		line-height: 10%;
		width: auto;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 2rem;
		left: 1%;
	}
	.apellido {
		left: 1%;
		width: 100%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 3rem;
	}
	.mes {
		width: 90%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		/* left: 1%; */
		bottom: 4rem;
	}
	.year {
		width: 90%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 5em;
	}
	.cardNumber {
		width: 88%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 6rem;
	}
	.cvv {
		width: 37%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 6rem;
	}

	.cvv input {
		width: 105%;
		height: 48%;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: relative;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		background-color: #4caf50;
		border: none;
		border-radius: 4px;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 211%;
		padding: 2%;
		width: 50%;
		cursor: pointer;
		font-family: 'Kumbh Sans', sans-serif;
		margin: 5%;
		align-items: center;
		height: 65%;
		bottom: 20rem;
	}
	.imagenes {
		flex-direction: column;
		width: 24%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		left: 74%;
		bottom: 13rem;
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 1201) {
	.logo {
		width: 100%;
		height: auto;
		margin: 1rem 1rem 1rem 0rem;
	}
	.logo img {
		width: 50%;
	}
	.header {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
		padding: 3%;
	}
	.header h1 {
		font-size: 100%;
	}

	.main {
		margin: 1rem 1rem 1rem 0rem;
		height: auto;
		width: 100%;
	}
	.main h1 {
		font-size: 90%;
	}
	.main p {
		font-size: 86%;
		margin: 5%;
	}
	footer {
		margin: 1rem 1rem 1rem 0rem;
		width: 100%;
	}
	.footer p {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.footer a {
		margin: 0rem 0rem 0rem 0rem;
		font-size: 100%;
		padding: 1%;
	}
	.button {
		margin: 3rem 7rem 1rem 6rem;
		font-size: 100%;
		padding: 3%;
	}
	.creditCardForm {
		margin: 1rem 1rem 1rem 1rem;
		width: auto;
		height: 100%;
	}
	.form-control {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: 45rem;
		width: auto;
	}
	.form-control input {
		border: none;
		border-radius: 10px;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 90%;
		padding: 2%;
		width: 92%;
		outline: none;
		line-height: 200%;
		margin: 1rem 0rem 1rem 0rem;
	}
	.card-container {
		padding: 2%;
		position: relative;
		justify-content: center;
		line-height: 10%;
		width: auto;
		height: auto;
		margin: 1rem 1rem 1rem 1rem;
	}
	.nombre {
		width: 100%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 2rem;
		left: 1%;
	}
	.apellido {
		left: 1%;
		width: 100%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 3rem;
	}
	.mes {
		width: 90%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		/* left: 1%; */
		bottom: 4rem;
	}
	.year {
		width: 90%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 5em;
	}
	.cardNumber {
		width: 88%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 6rem;
	}
	.cvv {
		width: 37%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		bottom: 6rem;
	}

	.cvv input {
		width: 105%;
		height: 48%;
	}

	.buttom1 {
		right: 10%;
		bottom: 90%;
		width: 100%;
		position: relative;
		margin: -20rem 1rem 1rem 4rem;
		font-family: 'Roboto', sans-serif;
		font-size: 100%;
	}

	button:hover {
		background-color: #1a441b;
		color: white;
		outline: none;
	}
	.form-control button {
		background-color: #4caf50;
		border: none;
		border-radius: 4px;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 100%;
		padding: 2%;
		width: 50%;
		cursor: pointer;
		font-family: 'Kumbh Sans', sans-serif;
		margin: 5%;
		align-items: center;
		height: 65%;
		bottom: 13rem;
	}
	.imagenes {
		flex-direction: column;
		width: 64%;
		position: relative;
		margin: 1rem 1rem 1rem 1rem;
		left: 45%;
		bottom: 13rem;
	}
	.imgMastecard {
		background-position: -100px 0;
		width: 100%;
		height: auto;
		float: right;
		margin-right: 4%;
		margin-bottom: 2%;
	}
	.imgVisa {
		background-position: 0 0px;
		width: 100%;
		height: auto;
		float: right;
		margin-bottom: 2%;
	}
}
