  /* borde la caja es aplicado de manera universal a toda la pagina*/
* {
    box-sizing: border-box;
  }
  /* encabezado de la pagina*/
  .header {
    padding:1%;
    text-align: center;
    background: rgb(233, 231, 231);
    width: 100%;
    height: auto;
    opacity:0.7;
  }
  /* titulo de encabezado de la pagina*/
  .header h1 {
      font-size: 150%;
      margin-top: 1% ;
  }
  /* imagen del encabezado*/
  .header img {
    float: center;
    width: 20%;
    height: 15%;
    
  }
  /*clase del contenido principal*/ 
  .main {
    padding:5%;
    background: rgb(216, 212, 212);
    width: 100%;
    max-height: fit-content;
    margin-top: 1%;
    opacity:0.9;
    
  }
  /* el estilo de letra de H1*/ 
  .main H1 {
    text-align: center;
    font-size: 150%;
  }
  /* el estilo de letra de p*/ 
  .main p {
    text-align: center;
    font-size: 100%; 
  }
  /* pie de pagina */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: left;
    font-size: 50%;
    padding: 1%;
    opacity:0.7;
  }
/* pie de pagina enlace */
  .footer a {
    color: white; 
  }  
/*  clase de boton desplegable*/
  .button {
    background-color: #4CAF50;
    color: white;
    padding:10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 15px;

  }
/*  clase de centrado de la vista*/
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
/*  clase del cuerpo de la pagina*/ 
  body {
    font-family: Arial;
    padding: 5%;
    background: #118806;
    background-image: url("6749.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 2500px, 2200px, cover;
  }


/* mostrar segunda pagina o vista*/ 
  #mostrar { 
    display : none;}
/* mostrar boton reload*/ 
  #mostrar1 { 
  display : none;}

  #mostrar2 { 
  display : none;}
/* ocultar segunda pagina o vista*/
  #ocultar { 
    display : block;}
  /* el estilo del contenido de la tarjeta*/ 



  .creditCardForm {
    width: 600px;
    height: 650px; 
    background-color: rgb(245, 229, 10);
    font-size: 90%;   
    overflow: hidden;    
    color: black;
    border-radius: 15px;       
  }
  /* el estilo del contenido del formulario*/  
  .card-container {
    padding: 3%;    
    position: static;
    justify-content: center ;  
    
    line-height: 1%;
    width: 600px;
    height: 400px;       
  }
  /* el estilo del titulo del contenido de la tarjeta*/  
  .card-container h1{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
  } 
  /* el estilo del contenido de cada parte del formulario*/  
  .form-control {
    margin: 0.5%;
    padding: 5%;
    position: sticky;
    width: 100%;
    align-items: stretch;
    line-height: 1.4em;
  }
  /* el estilo del contenido del label del formulario*/   
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  /* el estilo del contenido del input del formulario*/     
  .form-control input {
    border: none;
    border-radius: 10px;
    display: block;
    font-family: inherit;
    font-size: 10px;
    padding: 10px;
    width: 100%;
  }
  /* el estilo del select del formulario*/   
  select {
    display: block;
    font-size: 10px;
    font-family: inherit;
    line-height: 1.3;
    padding: 10px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    appearance: none;
    background-color: #fff;  
  }
 /* el estilo del select option del formulario*/  
  select option { color: black }
 /* el estilo del primer child select option del formulario*/  
  option:first-child {
    color: gray}

 /* el estilo del boton de validar el formulario*/  
  .form-control button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    padding: 2%;
    width: 50%;
    cursor: pointer;
    
    margin-top: 5%;  
  } 

  /* el estilo de la imagen tarjeta mastercard*/ 
  .imgMastecard {
    background-position: -100px 0;
    width: 80px;
    height:auto;
    
    float: right;
    margin-right: 4%;
    margin-bottom: 2%;  
  }
  /*  el estilo de la imagen tarjeta visa*/ 
  .imgVisa {
    background-position: 0 0px;
    width: 80px;
    height:auto;
    float: right;

    
    margin-bottom: 2%; 
  }
  /*  el estilo de los msj aside*/ 
  aside {
    color: #7d807c;
    font-size: 70%;
    font-family: inherit;
  }
  /*  el estilo de boton de recarga*/ 
  .reload {
    background-color: #858b85;
    color: white;
    padding:1%;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 100%;    
    cursor: pointer;
    border: none;
    border-radius: 15px;
    margin-top: 10%;
  }

  .cardMsj {
    margin-top: 15%;
    background-color:  #4CAF50;
    padding: 2%;    
    position: static;
    justify-content: center ;  
    align-items: stretch;
    line-height: 1.4em;
    width: 100%;
    color: white;
    border: none;
    border-radius: 15px;     
  }


  